<% provide :title, 'Подтверждение аккаунта' %>

<div class="row align-center">
  <div class="small-12 medium-6 columns">
    <div class="callout large auth">
      <h2>Подтверждение аккаунта</h2>

      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name),
                             html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="row">
          <fieldset class="small-12 columns">
            <%= f.email_field :email, autofocus: true, placeholder: 'E-mail',
                  value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
                  required: true %>
          </fieldset>
        </div>

        <div class="row">
          <fieldset class="small-12 columns">
            <%= f.submit 'Подтвердить аккаунт', class: 'expanded button' %>
          </fieldset>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
